.infoWindowClass {
  margin-bottom: 1vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-size: 1vw;
  padding: 0 1vh;
  width: 25vw;
  height: 40vh;
}

.imgDiv {
  display: flex;
  flex-direction: row;
}

.Icon {
  border: none;
  background: none;
}

.Icon:hover {
  background: #eee;
}

.ExamplePicture {
  width: 15vw;
  height: 25vh;
  border: 1px solid #777;
}
